@layer base {
  :root {
    --screen-size-desktop: 1200px;
    --screen-size-tablet: 992px;
    --screen-size-mobile: 768px;
    --primary-color: hsl(168, 100%, 30%);
    --primary-color-dark: hsl(168, 100%, 20%);
    --primary-color-light: hsl(168, 100%, 40%);
    --secondary-color: hsl(0, 0%, 10%);
    --secondary-color-dark: hsl(0, 0%, 0%);
    --secondary-color-light: hsl(0, 0%, 60%);
    --warning-background-color: hsl(46, 100%, 90%);
    --warning-background-color-dark: hsl(46, 100%, 70%);
    --warning-text-color: #664d03;
  }

  html {
    font-family: "Roboto", "system-ui", "San Francisco", "Segoe UI", "Oxygen",
      "Ubuntu", Arial, sans-serif;
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .alert {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid transparent;
  }

  .alert-warning {
    background-color: var(--warning-background-color);
    border-color: var(--warning-background-color-dark);
    color: var(--warning-text-color);
    font-size: 1.25rem;
  }
}
