@layer form {
  :root {
    --input-height: 2.5rem;
    --input-border-radius: 6px;
  }

  form {
    .form-group + .form-group {
      margin-top: 1rem;
    }

    label {
      font-weight: bold;
    }

    .form-control {
      display: block;
      width: 100%;
    }
  }

  input[type="text"] {
    border: 2px solid var(--primary-color);
    border-radius: var(--input-border-radius);
    height: var(--input-height);
    padding: 0 10px;

    &:focus {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }

  button:not(.icon-btn) {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--input-border-radius);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: var(--input-height);
    padding: 0 20px;
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: var(--primary-color-light);
    }

    &.secondary-btn {
      background-color: var(--secondary-color);

      &:hover,
      &:focus {
        background-color: var(--secondary-color-light);
      }
    }
  }

  .icon-btn {
    margin: 0;
    padding: 0;
  }
}
