/*
  CSS reset based on https://www.joshwcomeau.com/css/custom-css-reset/
*/
@layer reset {
  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  * {
    margin: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root {
    isolation: isolate;
  }
}
