@layer util {
  .flex {
    display: flex !important;
  }

  .col-gap-10 {
    column-gap: 10px !important;
  }

  .justify-end {
    justify-content: flex-end !important;
  }

  .mt-4 {
    margin-top: 1rem !important;
  }

  .capitalize {
    text-transform: capitalize !important;
  }
}
