.modal-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-content {
  background: white;
  border-radius: 8px;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.modal-header {
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  padding: 1rem;
  position: relative;
}

.modal-body {
  padding: 1rem;
}

.modal-close {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  font-size: 20px;
  height: 30px;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  z-index: 0;

  /* Hover effect - circle background that scales open */
  &::before {
    background: none;
    border-radius: 50%;
    bottom: -5px;
    box-sizing: border-box;
    content: "";
    display: block;
    left: -5px;
    opacity: 0;
    position: absolute;
    right: -5px;
    top: -5px;
    transform: scale(0);
    transition-duration: 0.2s;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
  }

  &:hover::before {
    background-color: var(--primary-color-dark);
    border: none;
    box-shadow: none;
    opacity: 1;
    transform: scale(1);
  }
}
